*{
    margin: auto;
    padding: auto;
}

body{
    height: 100vh;
    transition: 0.3s;
    background-color: #F2F2F2;
}

button{
    border: 1px solid #000;
    outline: 0; /*???*/
}

#darkMode{
    width: 120px;
    height: 120px;
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    border-radius: 25px;
}
